$color-primary: red;
$color-secondary: blue;
$color-tertiary: green;  

.exercise{
    border: $color-primary 1px solid;
    display: flex;
    flex-direction: column;
    .exercise-title{
        color:$color-tertiary;
        align-self: center;
        border-bottom: 1px $color-secondary solid;
    }    
}
.cards{
    display: flex;
    border: 1px solid $color-tertiary;
    margin: 1rem;
    text-align: center;
}
.first, .third{
    color: $color-secondary;
    border: 1px solid $color-tertiary;
    padding: 1rem;
}
.second, .fourth{
    color: $color-primary;
    border: 1px solid $color-tertiary;
    padding: 1rem;
}
